# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.env
.DS_Store

# Lua
*.luac
.lua_check_cache/
luarocks_tree/
.lua_modules/

# Git
.git/
.gitignore
.gitattributes

# OS/IDE
*.swp
*.swo
.idea/
.vscode/
